.ticker__element {
  width: 100%;
  height: 100%;
}

.ticker {
  width: 100%;
  height:  100%;
  position: absolute !important;
}

.ant-list-item {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: none !important;
  position: relative;
  line-height: 60px;
  height: 76px;
}

.ant-list-item a, .ant-list-item img, .ant-list-item a img {
  max-height: 60px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.ant-list div:not(:last-child) .ant-list-item::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px !important;
  border-bottom: 1px solid #222;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ant-list-item-action {
  display: flex;
  align-items: center;
}

.ant-list-item-action li:last-child {
  padding-right: 0px;
}
