.disko-player {
  width: 100%;
  background: white;
}
.disko-player svg {
  width: 35px;
  height: 35px;
  margin: 5px;
  transition: 1s;
  color: black;
}
.disko-player svg:hover {
  opacity: .7;
  cursor: pointer;
}
