.disko-player {
  width: 100%;
  background: white;
  border-radius: 4px;
  margin-bottom: 5px;
}
.disko-player svg {
  width: 35px;
  height: 35px;
  margin: 5px;
  transition: 1s;
}
.disko-player svg:hover {
  opacity: .7;
  cursor: pointer;
}
